<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title> YOUR POKIMON </title>
    <link rel="stylesheet" href="/stylesheets/database.css" type="text/css" media="all">
</head>
<body>
        <div id=displayDescription>
                <h1> Tokimon Database </h1>
                <p> Your tokimon database! Feel free to delete or edit any of the following: </p>
                </div>
                <form id="form" action="/remove" method="post">
                    <table>
                        <div>
                        <tr>
                            <th class="displayHeader" id="trainerHeader">Trainer Name</th>
                            <th class="displayHeader" id="idHeader">ID</th>
                            <th class="displayHeader" id="nameHeader">Tokimon Name</th>
                            <th class="displayHeader" id="heightHeader">Height</th>
                            <th class="displayHeader" id="weightHeader">Weight</th>
                            <th class="displayHeader" id="flyingHeader">Flying</th>
                            <th class="displayHeader" id="fightingHeader">Fighting</th>
                            <th class="displayHeader" id="fireHeader">Fire</th>
                            <th class="displayHeader" id="waterHeader">Water</th>
                            <th class="displayHeader" id="electricHeader">Electric</th>
                            <th class="displayHeader" id="iceHeader">Ice</th>
                            <th class="displayHeader" id="totalHeader">Total</th>
                            <th class="displayHeader" id="viewHeader">EDIT</th>
                            <th class="displayHeader" id="selectHeader">DELETE</th>
                        </tr>
                        <%for(var i=0; i<rows.length; i++) {%>
                                    <tr bgcolor="#EE99AC">
                                        <td><%= rows[i].tid %></td>
                                        <td><%= rows[i].name %></td>
                                        <td><%= rows[i].height %></td>
                                        <td><%= rows[i].weight %></td>
                                        <td> Flying </td>
                                        <td><%= rows[i].flying %></td>
                                        <td><%= rows[i].fighting %></td>
                                        <td><%= rows[i].fire %></td>
                                        <td><%= rows[i].water %></td>
                                        <td><%= rows[i].electric %></td>
                                        <td><%= rows[i].ice %></td>
                                        <td><%= rows[i].total %></td>
                                        <td><%= rows[i].trainername %></td>
                                        <td><a href='/database/<%=rows[i].tid%>'>View</a></td>
        
                                    </tr>
                            <% } %>
                        </div>
                        </table>
                        </form>

</body>
</html>