<html>
<head>
<meta charset="UTF-8">
<title> YOUR TOKIMON </title>
<link rel="stylesheet" href="/stylesheets/database.css" type="text/css" media="all">
<button type="button" class="homeBut" id="homeButton">
        <a class="homeB" id="homel" href="/"> <h6>Home</h6> </a>
    </button>
</head>

<body>
<div class="container">
<h1>Database Results</h1>
<p> Your Tokimon Database! You may SEE INFO or REMOVE from the Database! </p>
<form id="form" action="/remove" method="post">
    <table>
        <tr>
            <th>ID</th>
            <th>Trainer Name</th>
            <th>Tokimon Name</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Fly</th>
            <th>Fight</th>
            <th>Fire</th>
            <th>Water</th>
            <th>Electric</th>
            <th>Frozen</th>
            <th>Total</th>
            <th>SEE INFO</th>
            <th>REMOVE</th>
        </tr>

        <% for (var j=0; j<rows.length; j++) {%>
                <tr>
        <td> <%= rows[j].id %> </td>
            <td>   <%= rows[j].trainername %>  </td>
            <td>    <%= rows[j].tokimonname%>  </td>
            <td>   <%= rows[j].weight%>  </td>
            <td>    <%= rows[j].height%>  </td>
            <td>    <%= rows[j].fly%>  </td>
            <td>    <%= rows[j].fight%>  </td>
            <td>    <%= rows[j].fire%>  </td>
            <td>    <%= rows[j].water%>  </td>
            <td>   <%= rows[j].electric%>  </td>
            <td><%= rows[j].frozen%></td>
            <td><%= parseFloat(rows[j].fire) + parseFloat(rows[j].water) + parseFloat(rows[j].electric) + parseFloat(rows[j].fly) + parseFloat(rows[j].fight) + parseFloat(rows[j].frozen) %></td>
            <td> <a href='/database/<%=rows[j].id%>'>See Info</a></td>
            <td> <a href='/remove/<%=rows[j].id%>'>Remove</a></td>


        </tr>
        <% }; %>

    </table>
</form>

</div>
</body>
</html>