
<html>
<head>
    <meta charset="UTF-8">
    <title> YOUR TOKIMON </title>
    <link rel="stylesheet" href="/stylesheets/database.css" type="text/css" media="all">
</head>

<body>
<div class="container">
<h1>Database Results</h1>
<p> Your Tokimon Database! You may EDIT or REMOVE from the Database! </p>
<form id="form" action="/remove" method="post">

    <ul>
            <li><%= "ID" %> <%= "Trainer Name"%> <%= "Tokimon Name"%> <%= "Weight"%>  <%= "Height"%>  
                <%= "Fly"%>  <%= "Fight"%> <%= "Fire"%>  <%= "Water"%>  <%= "Electric"%> <%= "Frozen"%> <%= "Electric"%>  <%= "Total"%>  <%= "EDIT"%>  <%= "REMOVE"%> </li>
                <br>
        <% for (var j=0; j<rows.length; j++) {%>
            <li> <%= rows[j].id %>     <%= rows[j].trainername %>  <%= rows[j].tokimonname%>  <%= rows[j].weight%>  <%= rows[j].height%>  <%= rows[j].fly%>  
                <%= rows[j].fight%>  <%= rows[j].fire%>  <%= rows[j].water%>  <%= rows[j].electric%>  <%= rows[j].frozen%></li>
                <br>
        <% }; %>
    </ul>
</form>

</div>
</body>
</html>
